<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Edit User Info</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <% include navMenu %>
    <div id="wrapper">
        <!-- Navigation -->
        <div id="navMenu"></div>
        <script>
            $(function(){
                $("#navMenu").load("nav-menu.html");
            });
        </script>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Edit User Info</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#editemail" data-toggle="tab">Email Change</a>
                                </li>
                                <li><a href="#editpass" data-toggle="tab">Password Change</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Modifying Email -->
                                <div class="tab-pane fade in active" id="editemail">
                                    <h3>Change Your Email</h3>
                                    <div class="form-group">
                                      <p> Display the user's current email here </p>
                                    </div>
                                    <div class="form-group">
                                      <label for="new_email" class="control-label">New Email</label>
                                      <div class="controls">
                                        <input type="email" name="new_email" size="28">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="confirm_email" class="control-label">Confirm Email</label>
                                      <div class="controls">
                                        <input type="email" name="confirm_email" size="28">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary">Update Email</button>
                                    </div>
                                </div>

                                <!-- Modifying Password -->
                                <div class="tab-pane fade" id="editpass">
                                    <h3>Change Your Password</h3>
                                    <div class="form-group">
                                      <label for="current_password" class="control-label">Current Password</label>
                                      <div class="controls">
                                        <input type="password" name="current_password">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="new_password" class="control-label">New Password</label>
                                      <div class="controls">
                                        <input type="password" name="new_password">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="confirm_password" class="control-label">Confirm Password</label>
                                      <div class="controls">
                                        <input type="password" name="confirm_password">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary">Update Password</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
