<% include partials/header %>

    <div class = "container">
        <header class = "jumbotron">
        <h1>Team One Stock Portfolio</h1>
            <p>Welcome to a beginner-friendly portfolio app for any aspiring trader. </p>
            <p>The Team One Stock Portfolio is focused on simple interfaces and easy-to-navigate options for viewing data and building a portfolio however you wish.</p>
            <p>Log in to view your stocks, or register to begin building your portfolio!</p>
            <p>
                <a class="btn btn-primary btn-large" href="/register">Register Today!</a>
            </p>
        </header>
    </div>
<% include partials/footer %>
