<% include partials/header %>

    <div class = "container">
        <header class = "jumbotron">
        <h1>This is the landing page</h1>
            <p>Welcome to the stock portfolio landing page </p>
            <p>The stock portfolio application allows users to view, edit, and manage their stocks however they please. </p>
            <p>
                <a class="btn btn-primary btn-large" href="/register">Register Today!</a>
            </p>
        </header>
    </div>
<% include partials/footer %>
